version: '3.8'

networks:
  net_32:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.32.0/24
          gateway: 120.0.32.254
  net_33:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.33.0/24
          gateway: 120.0.33.254
  net_34:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.34.0/24
          gateway: 120.0.34.254
  net_35:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.35.0/24
          gateway: 120.0.35.254
  net_39:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.39.0/24
          gateway: 120.0.39.254
  net_38:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.38.0/24
          gateway: 120.0.38.254
  net_37:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.37.0/24
          gateway: 120.0.37.254
  net_36:
    driver: bridge
    ipam:
      config:
        - subnet: 120.0.36.0/24
          gateway: 120.0.36.254
  net_b1:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.101.0/24
          gateway: 192.168.101.254
  net_c1:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.2.0/24
          gateway: 192.168.2.254
  net_ent:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.10.0/24
          gateway: 10.10.10.254

services:
  
  # R_FAI_1 (Central Router)
  R_FAI_1:
    image: frrouting/frr
    container_name: R_FAI_1
    privileged: true
    volumes:
      - ./config/R_FAI_1:/etc/frr
    networks:
      net_32:
        ipv4_address: 120.0.32.1
      net_33:
        ipv4_address: 120.0.33.1
      net_34:
        ipv4_address: 120.0.34.1
      net_35:
        ipv4_address: 120.0.35.1
      net_39:
        ipv4_address: 120.0.39.1
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
  DHCP_B1:
    image: debian:12
    container_name: DHCP_B1
    privileged: true
    cap_add:
      - NET_ADMIN
    networks:
      net_b1:
        ipv4_address: 192.168.101.10
    command: |
      bash -lc '
        set -e

        apt-get update
        apt-get install -y isc-dhcp-server iproute2

        # S’assurer que la base de baux existe (sinon dhcpd quitte)
        mkdir -p /var/lib/dhcp
        touch /var/lib/dhcp/dhcpd.leases
        touch /var/lib/dhcp/dhcpd.leases~

        printf "INTERFACESv4=\"eth0\"\nINTERFACESv6=\"\"\n" > /etc/default/isc-dhcp-server

        cat > /etc/dhcp/dhcpd.conf <<'"'"'EOF'"'"'
      authoritative;
      default-lease-time 600;
      max-lease-time 7200;

      option domain-name-servers 120.0.36.2;

      subnet 192.168.101.0 netmask 255.255.255.0 {
      range 192.168.101.50 192.168.101.200;
      option routers 192.168.101.1;
      option broadcast-address 192.168.101.255;
      }
      EOF

        exec dhcpd -4 -f -d -lf /var/lib/dhcp/dhcpd.leases -cf /etc/dhcp/dhcpd.conf eth0
      '
  DHCP_C1:
    image: debian:12
    container_name: DHCP_C1
    privileged: true
    cap_add:
      - NET_ADMIN
    networks:
      net_c1:
        ipv4_address: 192.168.2.10
    command: |
      bash -lc '
        set -e

        apt-get update
        apt-get install -y isc-dhcp-server iproute2

        # S’assurer que la base de baux existe (sinon dhcpd quitte)
        mkdir -p /var/lib/dhcp
        touch /var/lib/dhcp/dhcpd.leases
        touch /var/lib/dhcp/dhcpd.leases~

        printf "INTERFACESv4=\"eth0\"\nINTERFACESv6=\"\"\n" > /etc/default/isc-dhcp-server

        cat > /etc/dhcp/dhcpd.conf <<'"'"'EOF'"'"'
      authoritative;
      default-lease-time 600;
      max-lease-time 7200;

      option domain-name-servers 120.0.36.2;

      subnet 192.168.2.0 netmask 255.255.255.0 {
      range 192.168.2.50 192.168.2.200;
      option routers 192.168.2.1;
      option broadcast-address 192.168.2.255;
      }
      EOF

        exec dhcpd -4 -f -d -lf /var/lib/dhcp/dhcpd.leases -cf /etc/dhcp/dhcpd.conf eth0
      '


      

  # Box_B1
  Box_B1:
    image: frrouting/frr
    container_name: Box_B1
    privileged: true
    volumes:
      - ./config/Box_B1:/etc/frr
    networks:
      net_32:
        ipv4_address: 120.0.32.2
      net_b1:
        ipv4_address: 192.168.101.5
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN

  # Box_C1
  Box_C1:
    image: frrouting/frr
    container_name: Box_C1
    privileged: true
    volumes:
      - ./config/Box_C1:/etc/frr
    networks:
      net_33:
        ipv4_address: 120.0.33.2
      net_c1:
        ipv4_address: 192.168.2.3
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN

  # R_Entreprise1
  R_Entreprise1:
    image: frrouting/frr
    container_name: R_Entreprise1
    privileged: true
    volumes:
      - ./config/R_Entreprise1:/etc/frr
    networks:
      net_34:
        ipv4_address: 120.0.34.2
      net_ent:
        ipv4_address: 10.10.10.1
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN

  # R11
  R11:
    image: frrouting/frr
    container_name: R11
    privileged: true
    volumes:
      - ./config/R11:/etc/frr
    networks:
      net_35:
        ipv4_address: 120.0.35.2
      net_37:
        ipv4_address: 120.0.37.1
      net_38:
        ipv4_address: 120.0.38.1
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN

  # R12
  R12:
    image: frrouting/frr
    container_name: R12
    privileged: true
    volumes:
      - ./config/R12:/etc/frr
    networks:
      net_36:
        ipv4_address: 120.0.36.1
      net_38:
        ipv4_address: 120.0.38.2
      net_39:
        ipv4_address: 120.0.39.2
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN

  # End Devices (Simulating Hosts)
  Client_B1:
    image: alpine
    container_name: Client_B1
    command: /bin/sh -c "
      ip route del default || true;
      udhcpc -i eth0 -q -f;
      sleep infinity "
    
    networks:
      net_b1: {}
    cap_add:
      - NET_ADMIN

  Serveur_B1:
    image: alpine
    container_name: Serveur_B1
    command: /bin/sh -c "
      ip route del default || true;
      udhcpc -i eth0 -q -f;
      sleep infinity"
    
    networks:
      net_b1: {}
    cap_add:
      - NET_ADMIN

  Client_C1:
    image: alpine
    container_name: Client_C1
    command: /bin/sh -c "
      ip route del default || true;
      udhcpc -i eth0 -q -f;
      sleep infinity "
    
    networks:
      net_b1: {}
    cap_add:
      - NET_ADMIN
 

  Serveur_Web1:
    image: alpine
    container_name: Serveur_Web1
    volumes:
      - ./config/web:/var/www/html
    command: /bin/sh -c "ip route del default || true; ip route add default via 120.0.37.1 && apk add --no-cache python3 && cd /var/www/html && python3 -m http.server 80"
    networks:
      net_37:
        ipv4_address: 120.0.37.2
    cap_add:
      - NET_ADMIN

  DNS_1:
    image: alpine
    container_name: DNS_1
    volumes:
      - ./config/DNS_1/dnsmasq.conf:/etc/dnsmasq.conf
      - ./config/DNS_1/hosts:/etc/dnsmasq.hosts
    command: /bin/sh -c "ip route del default || true; ip route add default via 120.0.36.1 && apk add --no-cache dnsmasq && dnsmasq -k -C /etc/dnsmasq.conf"
    networks:
      net_36:
        ipv4_address: 120.0.36.2
    cap_add:
      - NET_ADMIN

  Serveur_Entreprise_1:
    image: alpine
    container_name: Serveur_Entreprise_1
    command: /bin/sh -c "ip route del default || true; ip route add default via 10.10.10.1 && sleep infinity"
    networks:
      net_ent:
        ipv4_address: 10.10.10.2
    cap_add:
      - NET_ADMIN

  Client_Ent1:
    image: alpine
    container_name: Client_Ent1
    command: /bin/sh -c "ip route del default || true; ip route add default via 10.10.10.1 && echo 'nameserver 120.0.36.2' > /etc/resolv.conf && sleep infinity"
    networks:
      net_ent:
        ipv4_address: 10.10.10.3
    cap_add:
      - NET_ADMIN
